<div class="container-fluid about">
    <div class="row align-self-center" style="width: 100vw;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 abtImgs">
               <ngb-carousel> 

                <ng-template ngbSlide> 
                    <div>
                        <img src="assets/images/globalSoftwareEng.jpg" alt="SlideOne"> 
                    </div>
                </ng-template> 

                <ng-template ngbSlide> 
                    <div>
                        <img src="assets/images/RKPic1.jpg" alt="SlideTwo"> 
                    </div>
                </ng-template> 

                <ng-template ngbSlide> 
                    <div>
                        <img src="assets/images/globalSWEng2.jpg" alt="SlideThree"> 
                    </div>
                </ng-template> 

                <ng-template ngbSlide> 
                    <div>
                        <img src="assets/images/RKPic2.jpg" alt="SlideThree"> 
                    </div>
                </ng-template>

            </ngb-carousel> 
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 abtContent">
            <h1 class="text-center"> About Me </h1>
            <hr>
            <p> I'm Rhoda Kimanga (RK Nyra), a full-stack software developer. </p>
            <p> I'm passionate about creating solutions and fun-spaces using technology. </p>
            <p> When I'm not coding, I'll most likely be somewhere enjoying poetry or rollerskating or swimming or reading or playing with Robyn, my pup!  </p>
            <p> I do what I love and I love what I do!</p>
            <h3 class="text-center"> My Skills </h3>
            <hr>
            <div class="skillsChart">

                <div id="bar-horzontal">
                    <div style="width:80%">Django</div>
                    <div style="width:70%">Flask</div>
                    <div style="width:54%;">Angular</div>
                    <div style="width:73%">React</div>
                    <div style="width:85%;">Python</div>
                    <div style="width:54%">JavaScript</div>
                    <div style="width:75%;">CSS</div>
                    <div style="width:85%">HTML</div>
                </div>
            
            </div>
        </div>
    </div>

</div>