.about {
	background-image: url();
}
.card {
	width: 7.5rem;
	border: none;
}
.skillIcon {
	max-width: 3rem;
	max-height: 3rem;
	align-self: center;
}

.card-body {
	padding-top: 1rem;
	text-align: center;
}

@media (width: 1024px){
	.row {
		display: inline-block;
		/* justify-content: center; */
	}
	.abtImgs img {
	   	height: 100vh;
		width: 100vw;
	}
	}