.about {
    background-color: #fff;
	display: flex;
	justify-content: center;
	position: relative;
}

.abtImgs {
padding: 0px;
}

img {
	width: 100%;
	height: 100vh;
}

.abtContent {
	margin-top: 2vh;
	line-height: 1.5;
	font-family: 'Sriracha', cursive;
	font-size: 16px;
}

.skillSet {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 7.5rem;
	border: none;
}
.skillIcon {
	max-width: 3rem;
	max-height: 3rem;
	align-self: center;
}

.card-body {
	padding-top: 1rem;
	text-align: center;
}

.contactLink {
	width: 200px;
	border-radius: 75px;
	margin-bottom: 2vh;
	background-color: #007bff;
	color: #fff;
	position: relative;
	transition: all .35s;
}

.contactLink span {
	position: relative;
	z-index: 2;
}

.contactLink::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: yellow;
	border-radius: 75px;
	transition: all .3s ease-in-out;
}

.contactLink:hover {
	color: black;
}
.contactLink:hover::after {
	width: 100%;
}