.about {
    background-color: #fff;
	display: flex;
	justify-content: center;
	position: relative;
}

.abtImgs {
	padding: 0px;
	align-self: center;
	height: 100vh;
}

img {
	width: 100%;
	height: 100vh;
}

.abtContent {
	height: 100vh;
	margin-top: 2vh;
	line-height: 1.5;
	font-family: 'Sriracha', cursive;
	font-size: 16px;
	overflow-y: auto;
}

.skillSet {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	width: 7.5rem;
	border: none;
}
.skillIcon {
	max-width: 3rem;
	max-height: 3rem;
	align-self: center;
}

.card-body {
	padding-top: 1rem;
	text-align: center;
}

@media (width: 1024px){
	.row {
		display: inline-block;
		justify-content: center;
	}
	.abtImgs img, .abtContent {
	    padding: 0px;
		align-self: center;
		height: 100vh;
		width: 100vw;
	}
	}