<div class="container-fluid about">
    <div class="row align-self-center" style="width: 100vw;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 abtImgs">
            <img src="assets/images/RK.jpg" alt="RK-Pic">
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 abtContent">
            <h1 class="text-center"> About Me </h1>
            <hr>
            <p> I'm Rhoda Kimanga (RK Nyra), a full-stack software developer. </p>
            <p> I'm passionate about creating solutions and fun-spaces using technology. </p>
            <p> When I'm not coding, I'll most likely be somewhere enjoying poetry or rollerskating or swimming or reading or playing with Lucky-my pup!  </p>
            <p> I do what I love and I love what I do!</p>

            <h3 class="text-center"> My Skills / Strengths </h3>
            <hr>
            <div class="skillSet"> 
                <!-- loop a card containing icon and skills; to update from django/db-->
                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/icons8-python-48.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Python</p>
                    </div>
                </div>
                <!-- endof loop-->

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/djangoIcon.jpeg" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Django</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/flask.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Flask</p>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/icons8-angularjs-48.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Angular</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/JS.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Javascript</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/HTML.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">HTML</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/CSS.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">CSS</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/Bootstrap.jpeg" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Bootstrap</p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/Ruby.jpeg" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title"> Ruby </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/positiveMindset.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title"> Positive Attitude </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/growthMindset.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title"> Growth Mindset </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/genius.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title text-center"> Creative </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/targetGoalOriented.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title text-center"> Goal Oriented </p>
                    </div>
                </div>

                <!-- TO DELETE EXTRA CARDS LATER AND LEAVE ONLY THE ONE TO BE LOOPED-->
            </div> 
        </div>
    </div>
</div>