<div class="container-fluid about">
    <div class="row justify-content-center" style="width: 100vw;">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 abtImgs">
            <img class="rounded-circle" src="assets/images/RK.jpg" alt="RK-Pic">
        </div>

        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 abtContent">
            <h1 class="text-center"> About Me </h1>
            <hr>
            <p> <span> RK Nyra:</span> A remarkable, reliable and recommendable full-stack software developer. </p>
            <p> <span> Assets:</span> Integrity, Commitment, Creativity, Goal-oriented, Growth-mindset and a Positive-attitude.</p>
            <p> <span> Education:</span> Software Developement Graduate - Moringa School.</p>
            <p> <span> Proficiency:</span> Angular, Python, Django and Flask.</p>
            <p> <span> Other Interests:</span> Poetry, Rollerskating, Rollball(team-sport), Swimming, Reading and playing with Lucky-my pup. </p>
            <br>

        </div>
        <div class="col-12 techSkills">
            <h3 class="text-center"> Tech Skills  </h3>
            <hr>
            <div class="skillSet"> 
                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/icons8-python-48.png" alt="PyIcon">
                    <div class="card-body">
                        <p class="card-title">Python</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/djangoIcon.jpeg" alt="Django">
                    <div class="card-body">
                        <p class="card-title">Django</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/flask.png" alt="Flask">
                    <div class="card-body">
                        <p class="card-title">Flask</p>
                    </div>
                </div>
                
                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/icons8-angularjs-48.png" alt="Angular">
                    <div class="card-body">
                        <p class="card-title">Angular</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/JS.png" alt="Javascript">
                    <div class="card-body">
                        <p class="card-title">Javascript</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/HTML.png" alt="HTML">
                    <div class="card-body">
                        <p class="card-title">HTML</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/CSS.png" alt="CSS">
                    <div class="card-body">
                        <p class="card-title">CSS</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/Bootstrap.jpeg" alt="Bootstrap">
                    <div class="card-body">
                        <p class="card-title">Bootstrap</p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/github.png" alt="Github">
                    <div class="card-body">
                        <p class="card-title"> Github </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/heroku.png" alt="Heroku">
                    <div class="card-body">
                        <p class="card-title"> Heroku </p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/amazonWebServ.png" alt="AWS">
                    <div class="card-body">
                        <p class="card-title"> Amazon Web Services </p>
                    </div>
                </div>

                 <div class="card">
                    <img class="card-img-top skillIcon" src="assets/images/Ruby.jpeg" alt="Ruby">
                    <div class="card-body">
                        <p class="card-title"> Ruby </p>
                    </div>
                </div>


            </div> 
        
        </div>
    </div>
</div>