/* .navbar-dark {
    background-color: transparent !important;
} */

.logo {
    max-width: 35%;
    max-height: 35%;
    background-color: transparent;
}

.logo:hover {
    animation: rotation 7s infinite linear; 
}

@keyframes rotation {
    100%{ transform:rotatey(1800deg) }
}

.navbar-nav a {
    margin: 0 14px;
    color: #fff;
    font-size: 4vh;
    text-decoration: none;
    font-family: 'Sriracha', cursive;
}

.nav-item:hover .fas {
    font-size: 0px;
    transition: all 1s ease;
}

.toggleOnHover:hover::after {
    content: attr(data-hover);
    font-size: 21px;
    color: #333;
}

.toggleOnHover {
    background-image: linear-gradient(yellow, yellow), linear-gradient(#007bff, #007bff);
    background-size: 0 1px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .7s ease-out;
}

.toggleOnHover:hover {
    background-size: 100% 1px, auto;
}