<div class="container-fluid projects">
    <h1 class="text-center"> Projects </h1>
    <hr>

    <div class="row">

    <!-- to eventually get projects from db-->
    <!-- When retrieved from db, then loop this projects-card  (start for project of projects here) -->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/portfolipic2.jpeg)">
                        <h5 class="card-title">Project Title</h5>
                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                        <p class="card-text"> Super brief project description.</p>
                        <div class="text-center">
                            <a href="#" class="btn btn-sm projectLink"> 
                            <span> View Project </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <!-- end of projects-card loop (endfor) -->

    </div>


<!-- ================ ADD TESTIMONIALS BELOW ==================-->

    <div class="row justify-content-center testimonials">

<!-- To eventually get testimonials from db....i.e. from real feedback on actual projects-->
<!-- When obtained from db, then loop this card/blockquote -->  
    <div class="card">
        <div class="card-header">
        Fanaka - fanaka.com
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Remarkable, Realiable, Recommendable! Looking forward to our next project!</p>
                <footer class="blockquote-footer"> Aileen H. <cite title="Source Title">fanaka.com</cite></footer>
            </blockquote>
        </div>
    </div>

<!-- end of loop for the testimonial card/blockquote-->

    
    
    </div>
</div>
