<div class="container-fluid projects">
    <h1 class="text-center"> Recent Work </h1>
    <hr>

    <div class="row">
            <!-- PROJECT 1-->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body projectCard">
                                    <div class="backText">
                                        <p class="card-text"> An app that helps users locate the NHIF-registered hospitals near them. </p>
                                        <p class="card-text"> <a href="https://rk-nhif-hnm.herokuapp.com/" class="btn btn-sm projectLink"> 
                                                <span> View Project </span>
                                            </a>
                                        </p>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard">
                                    <div class="frontText">
                                        <p class="card-text">NHIF-Hospitals Near Me<p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT 2 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body projectCard">
                                    <div class="backText">
                                        <p class="card-text"> Another app that helps users locate the NHIF-registered hospitals near them. </p>
                                        <p class="card-text"> <a href="https://rk-nhif-hnm.herokuapp.com/" class="btn btn-sm projectLink"> 
                                                <span> View Project </span>
                                            </a>
                                        </p>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard">
                                    <div class="frontText">
                                        <p class="card-text">NHIF-Hospitals Near Me<p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- PROJECT 3 -->
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mb-4">
                    <div class="outterColumn">
                        <div class="projectColumn">
                            <div class="projectContent">

                                <div class="card back">
                                    <div class="card-body projectCard">
                                        <div class="backText">
                                            <p class="card-text"> An app that helps users locate the NHIF-registered hospitals near them. </p>
                                            <p class="card-text"> <a href="https://rk-nhif-hnm.herokuapp.com/" class="btn btn-sm projectLink"> 
                                                    <span> View Project </span>
                                                </a>
                                            </p>
                                        </div>
                                    </div> 
                                </div>

                                <div class="card front">
                                    <div class="card-body projectCard">
                                        <div class="frontText">
                                            <p class="card-text">NHIF-Hospitals Near Me<p>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
            </div>

    </div> <!-- END OF ROW-->

</div>
