<div class="container contact" data-aos="zoom-out-down" data-aos-offset="200" data-aos-delay="100" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-once="false" data-aos-anchor-placement="top-bottom">
    <h1 class="text-center"> Get in Touch </h1>
    <hr>
    <div class="row">
       <!-- <div class="jumbotron"> -->

            <div class="col-12 socialLinks">

                <p class="telnmail mr-5" data-hover="0715-735-779"> <i class="fas fa-mobile-alt animated infinite pulse"></i> </p>

                <a class="telnmail mr-5 mail" data-hover="rk.nyra@gmail.com" href="https://mail.google.com/mail/?view=cm&fs=1&to=rk.nyra@gmail.com&su=Software Dev Collaboration&body=Hi Rk, ...">  <i class="fas fa-envelope-open-text animated infinite pulse"> </i>  </a>

                
                <p class="mr-5 animated infinite pulse"> <a href="https://github.com/RkNyra"> <i class="fab fa-github"> </i> </a> </p>

                <p class="animated infinite pulse"> <a href="https://www.linkedin.com/in/rhoda-kimanga-rk-nyra-9474355b/"> <i class="fab fa-linkedin"> </i>  </a> </p>

               <!-- <p> <a href="https://www.rknyra.com"> <i class='fas fa-edit'> </i> </a> </p> -->


            </div>

            <!-- ================ CONTACT FORM BELOW =============== -->
            <!-- <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">


                <form id="contact" (ngSubmit)="submitForm()">
                    <fieldset>
                        <input type="text" name="name" placeholder="Your name" [(ngModel)]="name" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input type="email" name="email" placeholder="Your Email Address" [(ngModel)]="email" required>
                    </fieldset>
                    <fieldset>
                        <textarea name="message" placeholder="Type your Message Here...." [(ngModel)]="message" required></textarea>
                    </fieldset>
                    <fieldset class="text-center">
                        <button name="submit" type="submit" id="contact-submit"> Send </button>
                    </fieldset>
                </form>
            
            </div>  -->

      
        <!-- </div> -->
    </div>
</div>