<div class="container contact">
    <h1 class="text-center"> Get in Touch </h1>
    <hr>
    <div class="row">
        <div class="jumbotron">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 socialLinks">

                <p class="telnmail" data-hover="0715-735-779"> <i class="fas fa-mobile-alt"></i> </p>
                <p class="telnmail" data-hover="rk.nyra@gmail.com"> <a href="mailto:rk.nyra@gmail.com">  <i class="fas fa-envelope-open-text"> </i>  </a> </p>
                <p> <a href="https://github.com/RkNyra"> <i class="fab fa-github"> </i> </a> </p>
                <p> <a href="https://www.linkedin.com/in/rhoda-kimanga-rk-nyra-9474355b/"> <i class="fab fa-linkedin"> </i>  </a> </p>
               <!-- <p> <a href="https://www.rknyra.com"> <i class='fas fa-edit'> </i> </a> </p> -->


            </div>

            <!-- ================ CONTACT FORM BELOW =============== -->
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">


                <form id="contact" (ngSubmit)="submitForm()">
                    <fieldset>
                        <input type="text" name="name" placeholder="Your name" [(ngModel)]="name" required autofocus>
                    </fieldset>
                    <fieldset>
                        <input type="email" name="email" placeholder="Your Email Address" [(ngModel)]="email" required>
                    </fieldset>
                    <fieldset>
                        <textarea name="message" placeholder="Type your Message Here...." [(ngModel)]="message" required></textarea>
                    </fieldset>
                    <fieldset class="text-center">
                        <button name="submit" type="submit" id="contact-submit"> Send </button>
                    </fieldset>
                </form>
 
  

            
            </div>
        
        </div>
    </div>
</div>