<div class="container-fluid projects">
    <h1 class="text-center"> My Tech Talks </h1>
    <hr>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col12">

        <!-- to eventually get projects from db-->
        <!-- When retrieved from db, then loop this projects-card  (start for project of projects here) -->
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end of projects-card loop (endfor) -->



    <!-- TO DELETE THESE AFTER USING DB TO FETCH DATA -->
   



               <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 mb-4 outtermostCol">
                <div class="outterColumn">
                    <div class="projectColumn">
                        <div class="projectContent">

                            <div class="card back">
                                <div class="card-body col3" style="background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(assets/images/LogoOption14.png)">
                                        <h5 class="card-title">Project Title</h5>
                                        <h6 class="card-subtitle mb-2">Main Language(s) used</h6>
                                        <p class="card-text"> Super brief project description.</p>

                                        <div class="text-center">
                                            <a href="#" class="btn btn-sm projectLink"> 
                                            <span> View Project </span>
                                        </a>
                                    </div>
                                </div> 
                            </div>

                            <div class="card front">
                                <div class="card-body projectCard" style="background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(0, 0, 0, 0.8)), url(assets/images/LogoOption14.png)">
                                    <div class="frontText">
                                        <p> In case of a realy long Project Title.</p>
                                        <p> See More... </p>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    




    <!-- END OF DELETE SECTION -->




        </div>

    </div>

</div>
