@import "~bootstrap/dist/css/bootstrap.css";

html {
    scroll-behavior: smooth;
    font-family: 'Sriracha', cursive;
    margin-top: 5vh;
    /* max-width: 100vw;
    overflow: hidden; */
}


.about {
    margin-top: 100px;
}
.projects, .techTalks {
    padding-top: 90px;
}

.contact {
    padding-top: 100px;
}

@media(width:360px) {
    .home{
        margin-top: 30px;
    }
    .avatar {
        height: 175px;
        width: 175px;
    }
}

@media(width:375px) {
    .home{
    margin-top: 25px;
    }
}