<div id="home" class="container-fluid home">

     <div class="row justify-content-center homerow">

            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 introimg">
                <img class="rounded-circle avatar" src="assets/images/RKSuit.jpg" alt="RK Nyra Avatar">
            </div>

            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 intro">
                <h4> Hi there!</h4>
                <p> I'm Rhoda Kimanga; </p> 
                <p> <i class="fas fa-check-circle" aria-hidden="true"> </i> a full-stack developer, </p>
                <p> <i class="fas fa-check-circle" aria-hidden="true"> </i> passionate about creating solutions and fun-spaces using technology, </p>
                <p> <i class="fas fa-check-circle" aria-hidden="true"> </i> doing what I love and loving what I do! </p>
                <a href="#about" class="mr-auto btn btn-primary seeMore" style="vertical-align:middle"><span>See More... </span></a>
            </div>
    </div>
</div>

<app-about id="about"> </app-about>

<!-- <app-projects id="projects"> </app-projects> -->

<!-- <app-blog id="blog"> </app-blog> -->

<!-- <app-contact id="contact"> </app-contact> -->