<div class="container-fluid home">

    <div class="row justify-content-center intro">
        <div class="text-center align-self-center">
            <h3> Bonjour ! </h3>
            <p> I'm Rhoda Kimanga (RK Nyra), a full-stack software developer. </p>
            <p> I'm passionate about creating solutions and fun-spaces using technology. </p>
            <p> I do what I love and I love what I do! </p>
            <a href="#" class="btn btn-primary seeMore" style="vertical-align:middle"><span>See More... </span></a>

        </div>
    </div>

    <div class="row area">
        <ul class="lines">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>

</div> 

<app-about> </app-about>

<app-projects> </app-projects>

<!-- <app-blog> </app-blog> -->

<app-contact> </app-contact>