    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'El Messiri', sans-serif; */
    /* font-family: 'Merienda One', cursive; */
    /*font-family: 'Sriracha', cursive; */  

.home {
	background-color: #000;
	display: flex;
	justify-content: center;
	position: relative;
	height: 100vh;
}

.intro {
  color: #fff;
  font-family: 'Sriracha', cursive;
  font-size: x-large;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.seeMore {
	transition: all 0.2s;
	border: #000;
  }
.seeMore:hover {
	background: linear-gradient(-45deg, #007bff, yellow);
	color: #000;
}
  
.seeMore span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
  
.seeMore span:after {
	font-family: FontAwesome;
	content: '\f103';
	font-weight: bold;
	font-size: x-large;
	color: yellow;
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -20px;
	transition: 0.7s;
}
  
.seeMore:hover span {
	padding-right: 20px;
}
  
.seeMore:hover span:after {
	opacity: 1;
	right: 0;
}

.area{
    background: transparent;  
    width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.lines{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lines li{
    position: absolute;
    display: block;
    list-style: none;
    width: 1px;
	height: 20px;
    background: linear-gradient(-45deg, yellow, #007bff);
    animation: animate 5s linear infinite;
    bottom: -250px;
}

.lines li:nth-child(1){
	left: 1%;;
	width: 1px;
	height: 120px;
	animation-delay: 0s;
	animation-duration: 3s;
}

.lines li:nth-child(2){
    left: 7%;
    width: 1px;
	height: 70px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.lines li:nth-child(3){
    left: 14%;
    width: 1px;
    height: 133px;
    animation-delay: 3s;
}

.lines li:nth-child(4){
    left: 21%;
    width: 1px;
    height: 144px;
    animation-delay: 7s;
    animation-duration: 3s;
}

.lines li:nth-child(5){
    left: 24%;
    width: 1px;
    height: 121px;
	animation-delay: 12s;
	animation-duration: 5s;
}

.lines li:nth-child(6){
    left: 28%;
    width: 1px;
    height: 77px;
	animation-delay: 5s;
	animation-duration: 5s;
}

.lines li:nth-child(7){
    left: 33%;
    width: 1px;
    height: 133px;
	animation-delay: 14s;
	animation-duration: 5s;
}

.lines li:nth-child(8){
    left: 35%;
    width: 1px;
    height: 77px;
    animation-delay: 7s;
    animation-duration: 3s;
}

.lines li:nth-child(9){
    left: 40%;
    width: 1px;
    height: 144px;
    animation-delay: 12s;
    animation-duration: 3s;
}

.lines li:nth-child(10){
    left: 44%;
    width: 1px;
    height: 70px;
    animation-delay: 7s;
    animation-duration: 5s;
}
.lines li:nth-child(11){
    left: 47%;
    width: 3px;
    height: 170px;
    animation-delay: 14s;
    animation-duration: 3s;
}
.lines li:nth-child(12){
    left: 54%;
    width: 1px;
    height: 77px;
    animation-delay: 2s;
    animation-duration: 5s;
}
.lines li:nth-child(13){
    left: 57%;
    width: 1px;
    height: 170px;
    animation-delay: 12s;
    animation-duration: 3s;
}

.lines li:nth-child(14){
    left: 63%;
    width: 1px;
    height: 70px;
    animation-delay: 7s;
    animation-duration: 5s;
}
.lines li:nth-child(15){
    left: 65%;
    width: 1px;
    height: 120px;
    animation-delay: 12s;
    animation-duration: 3s;
}
.lines li:nth-child(16){
    left: 70%;
    width: 1px;
    height: 121px;
    animation-delay: 7s;
    animation-duration: 3s;
}
.lines li:nth-child(17){
    left: 75%;
    width: 1px;
    height: 77px;
    animation-delay: 14s;
    animation-duration: 5s;
}
.lines li:nth-child(18){
    left: 80%;
    width: 1px;
    height: 150px;
    animation-delay: 3s;
    animation-duration: 3s;
}
.lines li:nth-child(19){
    left: 84%;
    width: 1px;
    height: 70px;
    animation-delay: 0s;
    animation-duration: 5s;
}
.lines li:nth-child(20){
    left: 88%;
    width: 1px;
    height: 77px;
    animation-delay: 1s;
    animation-duration: 2s;
}
.lines li:nth-child(21){
    left: 92%;
    width: 1px;
    height: 124px;
    animation-delay: 1s;
    animation-duration: 3s;
}

@keyframes animate {

    0%{
		transform: translateY(-777px);
        opacity: 1;
        border-radius: 20%;
    }

    100%{
		transform: translateY(0);
        opacity: 0;
        border-radius: 50%;
    }

}