    /* font-family: 'PT Sans', sans-serif; */
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Caveat', cursive; */
    /* font-family: 'El Messiri', sans-serif; */
    /* font-family: 'Merienda One', cursive; */
    /*font-family: 'Sriracha', cursive; */  

.home {
	background-color: #000;
	display: flex;
	justify-content: center;
	position: relative;
	height: 100vh;
}

.intro {
  color: #fff;
  font-family: 'Sriracha', cursive;
  font-size: x-large;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.seeMore {
	border-radius: 40px;
	padding-right: 33px;
	padding-left: 33px;
	transition: all 0.2s;
	border: #000;
  }
.seeMore:hover {
	background: linear-gradient(-45deg, #007bff, yellow);
	color: #000;
}
  
.seeMore span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}
  
.seeMore span:after {
	font-family: FontAwesome;
	content: '\f103';
	font-weight: bold;
	font-size: x-large;
	color: yellow;
	position: absolute;
	opacity: 0;
	top: -5px;
	right: -20px;
	transition: 0.7s;
}
  
.seeMore:hover span {
	padding-right: 20px;
}
  
.seeMore:hover span:after {
	opacity: 1;
	right: 0;
}

.area{
    background: transparent;  
    width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.lines{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.lines li{
    position: absolute;
    display: block;
    list-style: none;
    width: 1px;
	height: 170px;
    background: linear-gradient(45deg, #007bff, #000);
    animation: animate 5s linear infinite;
    bottom: -250px;
}

.lines li:nth-child(1){
	left: 10%;;
	width: 1px;
	height: 320px;
	animation-delay: 12s;
	animation-duration: 5s;
}

.lines li:nth-child(2){
    left: 17%;
    width: 1px;
	height: 270px;
    animation-delay: 3s;
    animation-duration: 3s;
    background: linear-gradient(45deg, yellow, #007bff);
}

.lines li:nth-child(3){
    left: 33%;
    width: 1px;
    height: 233px;
    animation-delay: 7s;
}

.lines li:nth-child(4){
    left: 44%;
    width: 1px;
    height: 344px;
    animation-delay: 4s;
    animation-duration: 3s;
}

.lines li:nth-child(5){
    left: 54%;
    width: 1px;
    height: 221px;
	animation-delay: 5s;
    animation-duration: 2s;
    background: linear-gradient(45deg, yellow, #007bff);
}

.lines li:nth-child(6){
    left: 70%;
    width: 1px;
    height: 377px;
	animation-delay: 14s;
	animation-duration: 3s;
}

.lines li:nth-child(7){
    left: 75%;
    width: 1px;
    height: 333px;
	animation-delay: 10s;
    animation-duration: 4s;
    background: linear-gradient(45deg, yellow, #007bff);
}

.lines li:nth-child(8){
    left: 85%;
    width: 1px;
    height: 177px;
    animation-delay: 2s;
    animation-duration: 4s;
}

.lines li:nth-child(9){
    left: 91%;
    width: 1px;
    height: 244px;
    animation-delay: 0s;
    animation-duration: 3s;
}

.lines li:nth-child(10){
    left: 99%;
    width: 1px;
    height: 370px;
    animation-delay: 1s;
    animation-duration: 5s;
}

@keyframes animate {

    0%{
		transform: translateY(-777px);
        opacity: 1;
        border-radius: 20%;
    }

    100%{
		transform: translateY(0);
        opacity: 0;
        border-radius: 50%;
    }

}